<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851847019208-khkegjjlselqolrdighdl7aa36hj3tri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851847019208-khkegjjlselqolrdighdl7aa36hj3tri</string>
	<key>API_KEY</key>
	<string>AIzaSyB1evxteSttvEa6tsut1C-1PaLT8LjHbKs</string>
	<key>GCM_SENDER_ID</key>
	<string>851847019208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Randimal-Geeganage.FYP-Mobile</string>
	<key>PROJECT_ID</key>
	<string>fyp-login-9eeea</string>
	<key>STORAGE_BUCKET</key>
	<string>fyp-login-9eeea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851847019208:ios:9eda46582bdb4ccd2943fd</string>
</dict>
</plist>